@import 'https://fonts.googleapis.com/css?family=Ubuntu:300, 400, 500, 700';

*, *:after, *:before {
    margin: 0;
    padding: 0;
}

.svg-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #2a85da;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #0f4577;
}

.active {
    background-color: #0f4577;
}

  /* Change the link color to #111 (black) on hover */
/* li a:hover {
    background: #333;
} */

body {
    background: #FFF;
    color: #0f4577;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 400;
}

header {
    height: 200px;
    color:#2a85da;
    padding-top: 9vw; 
    padding-bottom: 1vw;
    padding-right: 1vw;
    text-align: right;
}

main {
    background: linear-gradient(to bottom, #ffffff 0%, #dddee1 100%);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0vh 0 30vh;
    position: relative;
    text-align: center;
    overflow: auto; 
}

.button {
    background-color: #2a85da; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer !important;
}

.button1 {
    background-color: #2a85da; 
    color: black; 
    border: 2px solid #2a85da !important;
}

.button1:hover {
    background-color: #0f4577;
    color: white !important;
}

footer {
    background: #dddee1;
    padding: 5vh 0;
    text-align: center;
    position: relative;
}

/* table {
    border: 1px solid #0f4577;
    text-align: center;
}

th {
    border: 1px solid #0f4577;
} */

.error {
    color: red;
    text-align: center;
}

.center {
    margin-left: auto; 
    margin-right: auto;
    padding: 15px;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

table {
    max-width: 960px;
    margin: 10px auto;
}

caption {
    font-size: 1.6em;
    font-weight: 400;
    padding: 10px 0;
}

thead th {
    font-weight: 400;
    background: #2a85da;
    color: #FFF;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

tr:nth-child(even) {
    background: #e8eeef;
}

th, td {
    text-align: center;
    padding: 20px;
    font-weight: 300;
}

tfoot tr {
    background: none;
}

tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
}

.field {
	font-size: 20;
    margin: 10px auto;
    padding: 10px;
}

#bloc1, #bloc2
{
    display:inline;
    padding: 10px;
}

#bloc3, #bloc4
{
    display:inline;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
