{%extends 'base.html'%}

{%block title%} Balance {%endblock%}

{%block content%}
<ul>
    <li><a href="./">Inicio</a></li>
    <li><a href="./compra">Compra</a></li>
    <li><a href="#nogo" class="active">Estado</a></li>
</ul>
<br>
<h2>Mi Balance</h2>

    <br>
    {% if inversion > 0 %}
        <table style="margin: 0 auto;">
            <thead>
            <tr>
                <th>Cantidad invertida (€)</th>
                <th>Precio Actual (€)</th>
            </tr>
            </thead>
            <tr>
                <td>{{inversion}}</td>
                <td>{{valoractual}}</td>
            </tr>
        </table>
        {%if balance > 0%}
        <div>Wuaaaalaaa! No te ha salido mal la cosa... </div>
        <div style="color:green">Balance: {{balance}}</div>
        {%else%}
        <div>Ainnnnss! La cosa está cuesta arriba </div>
        <div style="color:red">Balance: {{balance}}</div>
        {%endif%}
    {% else %}
    <div style="text-align: center;">
        <table style="margin: 0 auto;">
            <thead>
            <tr>
                <th>Cantidad Invertida</th>
                <th>Hora</th>
            </tr>
            </thead>
        </table>
    </div>
    <br>
        <p>¡Oh no! No has invertido ni un duro. 😢 ¡Haz tu primera compra!.</p>
    {% endif %}

{%endblock%}