{%extends 'base.html'%}

{%block title%} COMPRA DE CRIPTOS {%endblock%}

{%block content%}
<ul>
    <li><a href="./">Inicio</a></li>
    <li><a href="#nogo" class="active">Compra</a></li>
    <li><a href="./balance">Estado</a></li>
</ul>
<br>
<h1>Nueva Compra</h1>
<br>
Seleccione los datos de la nueva compra:
<br>
<br>

<form action="compra", method="POST">
    {{ form.hidden_tag() }}
    <div class="field">
        {{ form.from_currency.label }}
        {{ form.from_currency }}
    </div>
    <div class="field">
        {{ form.to_currency.label }}
        {{ form.to_currency }}
    </div>
    <div class="nonw" style="background-color:red">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="field">
        {{ form.q1.label }}
        {{ form.q1 (placeholder='Cantidad')}}
    </div>
    <div class="fa fa-calculator">
        {{ form.calculadora }}
    </div>
    <div class="field">        
        {{ form.q2.label }}
        {{ form.q2 (size=20, placeholder='Cantidad Convertida', readonly="readonly", value=cantidadconvertida) }}
    </div>
    <div class="field">
        Precio Unitario: 
        {{ preciounitario }} {{form.to_currency.data}}
    </div>
    <div class="field">
        {{ form.submit }}
    </div>
</form> 


{%endblock%}