{%extends 'base.html'%}

{%block title%} COMPRA DE CRIPTOS {%endblock%}

{%block content%}
<ul>
    <li><a href="./">Inicio</a></li>
    <li><a href="#nogo" class="active">Compra</a></li>
    <li><a href="./balance">Estado</a></li>
</ul>
<br>
<h1>NUEVA COMPRA</h1>
<br>
Seleccione los datos de la nueva compra:
<br>

<form action="compra", method="POST">
    {{ form.hidden_tag() }}
    <div>
        {% with messages =  get_flashed_messages() %}
            {% if messages %}
                <div class=error>
                {% for message in messages %}
                <li class= error>{{ message }}</li>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
            </div>
    <table >
    <tr style="border: 1px red">
        <td>
            {{ form.from_currency.label }}
            {{ form.from_currency }}
        </td>
        <td>
            {{ form.to_currency.label }}  
            {{ form.to_currency }}
        </td>
    </tr>
    <tr>
        <td>
            {{ form.q1.label }}
            {{ form.q1 (placeholder='Introduce la cantidad')}}
            {{ form.calculadora (class="calculadora") }}
        </td>
        {% if form.q2.data != None %}
        <td>        
            {{ form.q2.label }}
            {{ form.q2 (size=20, readonly="readonly", value=cantidadconvertida) }} {{form.to_currency.data}}
        </td>
    <tr>
        <td colspan="2">
            Precio Unitario: 
            {{ preciounitario }} {{form.from_currency.data}}  
        </td>
        {% endif %}
    </tr>
    <tr>
        <td colspan="2">
            {{ form.submit }}
        </td>
    </tr>
</table>
</form> 


{%endblock%}