{%extends 'base.html'%}

{%block title%} COMPRA DE CRIPTOS {%endblock%}

{%block content%}
<ul>
    <li><a href="./">Inicio</a></li>
    <li><a href="#nogo" class="active">Compra</a></li>
    <li><a href="./balance">Estado</a></li>
</ul>
<br>
<h1>Nueva Compra</h1>
<br>
Seleccione los datos de la nueva compra:
<br>

    
    <form action="compra", method="POST">
        {{ form.hidden_tag() }}
        <table>
        <tr>
            <th class="formulario" style="background-color: #e7eeef;">
                {{ form.from_currency.label }}
                {{ form.from_currency }}
            </th>
            <th class="formulario" style="background-color: #e7eeef;">
                {{ form.to_currency.label }}
                {{ form.to_currency }}
            </th>
        </tr>
            <div class="error" style="background-color:red">
                {% with messages =  get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </div>
        <tr>
            <th class="formulario" style="background-color: #e7eeef;">
                {{ form.q1.label }}
                {{ form.q1 (placeholder='Cantidad')}}
            </th>
            <th class="fa fa-calculator" style="background-color: #e7eeef;">
                {{ form.calculadora }}
            </th>
        </tr>
        <tr>
            <th class="formulario" style="background-color: #e7eeef;">        
                {{ form.q2.label }}
                {{ form.q2 (size=20, placeholder='Cantidad Convertida', readonly="readonly", value=cantidadconvertida) }}
            </th>
            <th class="formulario" style="background-color: #e7eeef;">
                Precio Unitario: 
                {{ preciounitario }} 
            </th>
        </tr>
        <tr>
            <th class="button button1">
                {{ form.submit }}
            </th>
        </tr>
    </form> 
</table>


{%endblock%}